* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans',
        sans-serif;
}

.bg-primary {}

/* Header Section style */
.header {
    background: url(images/banner/banner3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.title {
    text-align: right;
    padding-right: 130px;
}

.title h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 56px;
    color: #FFFFFF;
    padding-top: 100px;
}

.title p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.title button {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: right;
    color: #005FAC;
    margin-top: 32px;
    border: none;
    margin-bottom: 100px;
}

/* Bannter Section style */

.banner {
    padding: 100px 0px;
    max-width: 1100px;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
}

.banner h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    margin-bottom: 24px;
}

.banner p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 16px;
}

.banner ul li {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 5px 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

.banner ul li img {
    padding-right: 10px;
}

.banner .images {
    align-items: center;
    display: flex;
    justify-content: center;
}

.banner .images img {
    width: 70%;
}

/* My Plans style */

.my-plans h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #151414;
    padding-bottom: 50px;
}

.my-plans .details {
    display: flex;
    align-items: center;
    justify-content: center;
}

.details .single-plan {
    margin-right: 30px;
}

.details .single-plan img {
    width: 50%;
    margin: auto;
    justify-content: center;
    display: flex;
    padding-bottom: 14px;
}

.details .single-plan h5 {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #151414;
}

.details .single-plan p {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #737272;
    padding-top: 16px;
}